<style>
span.f {
    color: #7f7f7f;
}
span.g {    
    background-color: #aaff9f;
    font-weight:bold;
}
span.r {    
    background-color: #ffb09f;
    font-weight:bold;
}
span.y {
    background-color: #fff99f;
    font-weight:bold;
}
</style>